<div id="activateMeteringPointModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activateMeteringPointModalLabel">Warning!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You are about to activate selected meteringpoints
                <p>Are you sure you want to activate?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmActivateButton">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showActivateMeteringPointModal(confirmCallback) {
        $('#activateMeteringPointModal').modal('show');

        $('#confirmActivateButton').off('click').on('click', function() {
            $('#activateMeteringPointModal').modal('hide');
            if (confirmCallback) {
                confirmCallback();
            }
        });
    }
</script>
