<div hidden="hidden">
    <form id="activateMeteringPointForm" asp-controller="Meteringpoints" asp-action="CreateContract" method="post"
          class="needs-validation" novalidate>
        @Html.AntiForgeryToken()
    </form>
</div>
