<div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showConfirmationModal(message, confirmCallback) {
        $('#confirmationMessage').text(message);
        $('#confirmationModal').modal('show');

        $('#confirmButton').off('click').on('click', function() {
            $('#confirmationModal').modal('hide');
            if (confirmCallback) {
                confirmCallback();
            }
        });
    }
</script>
