<div hidden="hidden">
    <form id="deactivateMeteringPointForm" asp-controller="Meteringpoints" asp-action="UpdateEndDate" method="POST"
          class="needs-validation" novalidate>
        @Html.AntiForgeryToken()
    </form>
</div>
