<div id="meteringPointDetailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="meteringPointDetailsModalLabel"><b>Details</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="detailsMeteringPoint"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showMeteringPointDetailsModal(details) {
        $('#meteringPointDetailsModal').modal('show');

        $('#detailsMeteringPoint').html(`
            <b>Bidding zone:</b> ${details.biddingZone}<br>
            <b>Grid area:</b> ${details.gridArea}<br>
            <b>Meter type:</b> ${details.subMeterType}<br>
            <b>Capacity:</b> ${details.capacity}<br>
            <b>Can be used for issuing:</b> ${details.capacity}<br>
        `);

        $('#closeButton').off('click').on('click', function () {
            $('#closeButton').modal('hide');
        });
    }
</script>
