@model Ranularg.Controllers.SecureViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Secure page.</h2>

<h2>User Claims</h2>

<ul>
    @foreach (var claim in Model.Claims)
    {
        <li><b>@claim.Type:</b> @claim.Value</li>
    }
</ul>