name: eo-measurements
repo: ghcr.io/energinet-datahub
references:
  - file: k8s/energy-origin-apps/measurements/base/deployment.yaml
    path: .spec.template.spec.containers[] | select(.name == "measurements-api") | .image
  - file: k8s/energy-origin-apps/measurements/base/deployment.yaml
    path: .spec.template.spec.initContainers[] | select(.name == "init-migrations") | .image
