global:
  scrape_interval: 1s

scrape_configs:
  - job_name: 'collector'
    static_configs:
      - targets: ['collector:9464'] # This should match the exposed endpoint in the Prometheus exporter OTEL config.
