name: eo-authorization-api
repo: ghcr.io/energinet-datahub
references:
  - file: k8s/energy-origin-apps/authorization/base/api-deployment.yaml
    path: .spec.template.spec.containers[] | select(.name == "authorization-api") | .image
  - file: k8s/energy-origin-apps/authorization/base/api-deployment.yaml
    path: .spec.template.spec.initContainers[] | select(.name == "init-migrations") | .image
