@page
@model Mock.Oidc.Pages.Connect.SigninModel
@{
}

<div>
    <h1>Sign in</h1>
    
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <p>You are signed in as @User.Identity.Name!</p>
    }
    
    <form asp-antiforgery="true" method="post" id="user-selection-form">
        
        @foreach (var user in Model.Users)
        {
            <button name="name" value="@user.Name" type="submit">Sign in as @user.Name (@user.Description)</button>
        }
    </form>
    
    
</div>