name: Build Measurements

on:
  workflow_call:
    inputs:
      dry-run:
        description: "An indication of whether to commit/publish results"
        required: true
        type: string
      is-dependabot:
        description: "An indication of a dependabot pull request"
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/dotnet-test
        with:
          solution: domains/measurements/Measurements.sln

  build-api:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/dotnet-build
        with:
          solution: domains/measurements/Measurements.sln
          project: domains/measurements/Measurements.API/API/API.csproj
          configuration: domains/measurements/Measurements.API/configuration.yaml
          migrations: domains/measurements/migrations/API.sql
          seed: domains/measurements/migrations/SEED.sql
          dry-run: ${{ inputs.dry-run }}

  update:
    runs-on: ubuntu-latest
    name: Update environment
    needs:
      - build-api
    concurrency: commits-base-environment
    if: ${{ inputs.is-dependabot == 'false' }}
    steps:
      - uses: actions/checkout@v4

      - name: Update environment
        uses: Energinet-DataHub/acorn-actions/actions/update-base-environment@v1
        with:
          configurations: |
            domains/measurements/Measurements.API/configuration.yaml
          deploy_key: ${{ secrets.DEPLOY_KEY_BASE_ENVIRONMENT }}
          dry_run: ${{ inputs.dry-run }}
