name: Structurizr - Update pages

on:
  workflow_call: {}
  workflow_dispatch: {}
  push:
    branches:
      - strukturizr-fix-in-progress-2

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      run: ${{ env.matched }}
    steps:
      - name: Set default value
        shell: bash
        run: echo "matched=false" >> $GITHUB_ENV

      - name: Check for file changes
        uses: CodeReaper/find-diff-action@v3
        if: github.event_name == 'push'
        id: changes
        with:
          paths: |
            .github/workflows/ci-orchestrator.yaml
            .github/workflows/structurizr-update-pages.yaml
            doc/diagrams/**.dsl

      - name: Update value
        if: github.event_name == 'push'
        shell: bash
        run: echo "matched=${{ steps.changes.outputs.matches }}" >> $GITHUB_ENV

      - name: Trigger build by workflow dispatch
        if: github.event_name == 'workflow_dispatch'
        shell: bash
        run: echo "matched=true" >> $GITHUB_ENV

  build:
    needs: setup
    if: ${{ needs.setup.outputs.run == 'true' }}
    runs-on: ubuntu-latest
    env:
      OUTPUT_STRUCTURE: doc/diagrams/c4-model/views/
    services:
      structurizr-lite:
        image: structurizr/lite:latest
        ports:
          - 8080:8080
        volumes:
          - ${{ github.workspace }}:/usr/local/structurizr
        env:
          STRUCTURIZR_WORKSPACE_PATH: /doc/diagrams/c4-model
          STRUCTURIZR_WORKSPACE_FILENAME: views
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: _

      - name: Move files
        shell: bash
        run: |
          sudo chmod -R 777 ./
          cp -r _/doc ./

      - name: Setup node
        uses: actions/setup-node@v4

      - name: Prepare export-diagrams script
        shell: bash
        run: |
          npm i puppeteer
          curl https://raw.githubusercontent.com/structurizr/puppeteer/master/export-diagrams.js --output export-diagrams.js

      - name: Render diagrams png images
        run: |
          set -e

          echo '::group::Rendering...'
          node export-diagrams.js 'http://localhost:8080/workspace/diagrams' png
          echo '::endgroup::'

          echo '::group::File listing'
          find . | grep -v node_modules
          echo '::endgroup::'

          output=$(mktemp -d)
          chmod +rx "$output"
          echo "output=$output" >> $GITHUB_ENV

          rm *-key.png || true
          mkdir -p $output/${{ env.OUTPUT_STRUCTURE }}
          mv *.png $output/${{ env.OUTPUT_STRUCTURE }}/

      - name: Add directory listings
        env:
          ROOT: ${{ env.output }}
        run: |
          index() {
            cd $1
            {
              echo "<h1>Index of $2</h1><hr /><ul>"
              if [ "$3" = "with-dotdot" ]; then
                echo "<li><a href='..'>Parent directory</a></li>"
              fi
              for path in $(find . -maxdepth 1 -mindepth 1 ! -name index.html | sort); do
                echo "<li><a href='$path'>$(basename $path)</a></li>"
              done
              echo "</ul><hr />"
            } > index.html
            cd -
          }

          for folder in $(find "$ROOT" -type d); do
            index "$folder" ${folder#"$ROOT"} with-dotdot
          done

          index "$ROOT" /

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.output }}

  deploy:
    if: ${{ github.ref_name == 'main' }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
