@page
@model Oidc.Mock.Pages.Connect.SigninModel
@{
    ViewData["Title"] = "Sign in";
}

<main>
    <img src="~/logo.png" alt="logo" class="logo">
    <h2 class="action-text">Sign in as specific personas</h2>

    <form asp-antiforgery="false" method="post" id="user-selection-form">
        @foreach (var user in Model.Users)
        {
            <button name="name" value="@user.Name" type="submit" class="peopleButton">
                <div class="image">
                    <img src="@user.ImageUrl"/>
                </div>
                <div class="details">
                    <h2>@user.Name</h2>
                    <p>@user.Description</p>
                </div>
            </button>
        }
    </form>
</main>
